<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="host" value="x.28.140.x" />
		<add key="porta" value="5672" />
		<add key="usuario" value="x" />
		<add key="senha" value="x" />
		<add key="rota" value="hello" />
		<add key="routingkey" value="rota.hello" />
	</appSettings>
</configuration>